/* General Styles */
body {
    margin: 0;
    padding: 0;
    color: #c96060;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: #e19c9c;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Table Styles */
table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

thead {
    background-color: #007BFF;
    color: #627142;
}

th, td {
    border-bottom: 1px solid #ddd;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form textarea {
    height: 100px;
    resize: none;
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

/* Button Styles */
button {
    padding: 10px 15px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c9302c;
}

#logout{
    margin-bottom: 10px;
}

#home{
    background-color: #007BFF;
}

#home:hover{
    background-color: #0056b3;
}

/* Section Styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
    text-align: left;
}

form {
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2, h3, table {
    margin: 10px 0;
}

button {
    background-color: #e74c3c; /* Red */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
button:hover {
    background-color: #c0392b;
}